<!DOCTYPE html>
<html>
  <head>
    <title>Prediction Result</title>
    <style>
        body{
            padding-top: 16%;
        }
        .res{
            color: white;
            font-size: 50px;
        }
      {% if prediction == "0" %}
          body {
              background-color: green;
          }
      {% else %}
          body {
              background-color: red;
          }
      {% endif %}
    </style>
  </head>
  <body>
    <center>
      <h1>Prediction Result</h1>
      {% if prediction == "0" %}
      <p class="res">Safe</p>
      {% else %}
      <p class="res">Not Safe</p>
      {% endif %}
    </center>
  </body>
</html>
